div
  span
    b Site:
    |  #{simulation.get('site')}
div
  span
    b User:
    |  #{simulation.get('user')}

.ct-simulation-tabs
  ul.nav.nav-tabs
    li.active
      a(href="#ct-tab-analysis-#{simulation.id}", data-toggle="tab") Analysis
    li
      a(href="#ct-tab-params-#{simulation.id}", data-toggle="tab") Metadata

.ct-simulation-tab-content.tab-content
  .ct-analysis-wrapper.tab-pane.active(id="ct-tab-analysis-#{simulation.id}")
  .ct-params-wrapper.tab-pane(id="ct-tab-params-#{simulation.id}")
